<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bbs_write</title>
    <link rel="stylesheet" href="/FRONT/resource/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/FRONT/resource/js/bootstrap.min.js"></script>
</head>

<style>
    .container {
        width: 1160px;
        height: 1200px;
    }

    .titlebox h2 {
        border-bottom: 1px solid rgb(0, 173, 181);
        margin-top: 90px;
        margin-bottom: 80px;
        padding-bottom: 20px;
        font-size: 40px;
        font-weight: bold;
        color: rgb(0, 173, 181);
    }

 

    table tr:first-child {
        border-top: 1px solid rgb(180, 180, 180);
    }

    table tr td {
        padding: 15px;
        border-bottom: 1px solid #ccc;
    }

    .titlefoot {
        float: right;
        margin: 20px;
    }

    .side_bar {
        
    }
</style>

<body>

    <section>
        <div class="container">
            <div class="header-sec">
                <div class="header"></div>
            </div>
            <ul id="sub_menu3" class="sub_menu">
                <li class="sub2"><a href="/FRONT/views/board/notice/notice_board.html">공지사항</a></li>
                <li class="sub2"><a href="/FRONT/views/board/free/free_board.html">자유게시판</a></li>
                <li class="sub2"><a href="/FRONT/views/board/qna/qna_board.html">질문게시판</a></li>
            </ul>
            <div class="row">
                <div class="col-sm-10">
                    <div class="titlebox">
                        <h2>글 작성하기</h2>
                    </div>

                    <form action="#" id="boardWrite" method="POST" enctype="multipart/form-data">
                        <table>
                            <tr>
                                <td>게시판</td>
                                <td><div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                      게시판 선택
                                      <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                      <li><a href="#">자유게시판</a></li>
                                      <li><a href="#">자유게시판(소식정보)</a></li>
                                      <li><a href="#">자유게시판(홍보)</a></li>
                                      <li><a href="#">자유게시판(꿀팁)</a></li>
                                      <li role="separator" class="divider"></li>
                                      <li><a href="#">질문게시판</a></li>
                                      <li role="separator" class="divider"></li>
                                      <li><a href="#">공지사항</a></li>
                                    </ul>
                                  </div></td>
                            </tr>
                            
                            <tr>
                                <td>작성자</td>
                                <td><input type=text name=name size=20> </td>
                            </tr>

                            <tr>
                                <td>제목</td>
                                <td><input type=text name=title size="60"></td>
                            </tr>
                            <tr>
                                <td>내용</td>
                                <td><textarea name="content" cols="75" rows="15"></textarea></td>
                            </tr>

                            <tr>
                                <td>사진올리기 </td>
                                <td><input type="file" name="fileName" size="10" maxlength="10"></td>
                            </tr>

                        </table>
                    </form>

                    <div class="titlefoot">
                        <button class="btn btn-info" id="registBtn">등록</button>
                        <button class="btn btn-info" id="listBtn">목록</button>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="side_bar"></div>
                </div>
            </div>
            <div class="footer-sec">
                <div class="footer"></div>
            </div>
        </div>
    </section>




</body>

</html>
<script>
    $(document).ready(function () {
        $('.header').load("/FRONT/views/include/header.html");
        $('.footer').load("/FRONT/views/include/footer.html");
        $('.side_bar').load("/FRONT/views/include/side_bar.html");
        $('.section').load("/FRONT/views/board/user/mypage.html")
    });



    var fileList = []; //파일 정보를 담아 둘 배열
    $(function () {

        //드래그앤드랍
        $("#fileDrop").on("dragenter", function (e) {
            e.preventDefault();
            e.stopPropagation();
        }).on("dragover", function (e) {
            e.preventDefault();
            e.stopPropagation();
            $(this).css("background-color", "#FFD8D8");
        }).on("dragleave", function (e) {
            e.preventDefault();
            e.stopPropagation();
            $(this).css("background-color", "#FFF");
        }).on("drop", function (e) {
            e.preventDefault();

            var files = e.originalEvent.dataTransfer.files;
            if (files != null && files != undefined) {
                var tag = "";
                for (i = 0; i < files.length; i++) {
                    var f = files[i];
                    fileList.push(f);
                    var fileName = f.name;
                    var fileSize = f.size / 1024 / 1024;
                    fileSize = fileSize < 1 ? fileSize.toFixed(3) : fileSize.toFixed(1);
                    tag +=
                        "<div class='fileList'>" +
                        "<span class='fileName'>" + fileName + "</span>" +
                        "<span class='fileSize'>" + fileSize + " MB</span>" +
                        "<span class='clear'></span>" +
                        "</div>";
                }
                $(this).append(tag);
            }

            $(this).css("background-color", "#FFF");
        });

        //저장
        $(document).on("click", "#save", function () {
            var formData = new FormData($("#fileForm")[0]);
            if (fileList.length > 0) {
                fileList.forEach(function (f) {
                    formData.append("fileList", f);
                });
            }

            $.ajax({
                url: "서버 맵핑 URL",
                data: formData,
                type: 'POST',
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                dataType: 'json',
                cache: false,
                success: function (res) {
                    alert("저장에 성공하셨습니다.");
                },
                error: function (res) {
                    alert("오류 발생.\n관리자에게 문의해주세요.");
                }
            });
        });
    });
</script>