<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/FRONT/resource/css/bootstrap.min.css" rel="stylesheet">
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
        <div class="row">
            <h1 class="text-center">자유게시판</h1>
        </div>
        <div class="row">
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-outline-primary"><b>전체</b></button>
                <button type="button" class="btn btn-outline-primary">자유글</button>
                <button type="button" class="btn btn-outline-primary">소식/정보</button>
                <button type="button" class="btn btn-outline-primary">홍보</button>
                <button type="button" class="btn btn-outline-primary">기타</button>
              </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">글쓴이</th>
                    <th scope="col">날짜</th>
                    <th scope="col">조회</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col">23</th>
                        <th scope="col">[자유글] 운동 많이 하고 계시나요?</th>
                        <th scope="col">야옹이</th>
                        <th scope="col">2021-09-02</th>
                        <th scope="col">153</th>
                    </tr>
                    <tr>
                        <th scope="col">23</th>
                        <th scope="col">[자유글] 운동 많이 하고 계시나요?</th>
                        <th scope="col">야옹이</th>
                        <th scope="col">2021-09-02</th>
                        <th scope="col">153</th>
                    </tr>
                    <tr>
                        <th scope="col">23</th>
                        <th scope="col">[자유글] 운동 많이 하고 계시나요?</th>
                        <th scope="col">야옹이</th>
                        <th scope="col">2021-09-02</th>
                        <th scope="col">153</th>
                    </tr>
                    <tr>
                        <th scope="col">23</th>
                        <th scope="col">[자유글] 운동 많이 하고 계시나요?</th>
                        <th scope="col">야옹이</th>
                        <th scope="col">2021-09-02</th>
                        <th scope="col">153</th>
                    </tr>
                    <tr>
                        <th scope="col">23</th>
                        <th scope="col">[자유글] 운동 많이 하고 계시나요?</th>
                        <th scope="col">야옹이</th>
                        <th scope="col">2021-09-02</th>
                        <th scope="col">153</th>
                    </tr>
                    <tr>
                        <th scope="col">23</th>
                        <th scope="col">[자유글] 운동 많이 하고 계시나요?</th>
                        <th scope="col">야옹이</th>
                        <th scope="col">2021-09-02</th>
                        <th scope="col">153</th>
                    </tr>
                    <tr>
                        <th scope="col">23</th>
                        <th scope="col">[자유글] 운동 많이 하고 계시나요?</th>
                        <th scope="col">야옹이</th>
                        <th scope="col">2021-09-02</th>
                        <th scope="col">153</th>
                    </tr>
                    <tr>
                        <th scope="col">23</th>
                        <th scope="col">[자유글] 운동 많이 하고 계시나요?</th>
                        <th scope="col">야옹이</th>
                        <th scope="col">2021-09-02</th>
                        <th scope="col">153</th>
                    </tr>
                    
                </tbody>
              </table>
        </div>
        <div class="row">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">5</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav>
        </div>


    </div>
    <script src="/FRONT/resource/js/bootstrap.min.js"></script>

  </body>
</html>