<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/FRONT/resource/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/FRONT/resource/js/bootstrap.min.js"></script>
    <style>
        
        .footer{
            background-color: red;
            height: 50px;
        }
        .section{
            background-color: yellowgreen;
            height: 500px;

        }
        .sidebar{
            background-color: yellow;
            height: 500px;

        }
        .navbar-brand {
            color:rgb(0, 173, 181);
            font-weight: bold;
            font-size: 30px;
        }

        .nav-link {
            color:rgb(0, 173, 181);
        }
      
    </style>
</head>

<body>
   
        <div class="row">
            <div class="header"></div>
        </div>

        <div class="row">


        <nav id="navbar-example2" class="navbar navbar-light bg-info">
            <span class="navbar-brand text-center text-info">김종국's 상체 운동 루틴</span>
            <ul class="nav nav-pills text-info" align="right">
              <li class="nav-item text-info">
                <a class="nav-link" href="#">목록으로</a>
              </li>
              <li class="nav-item text-info">
                <a class="nav-link " href="#">수정</a>
              </li>
              <li class="nav-item text-info">
                <a class="nav-link" href="#">삭제</a>
              </li>
            </ul>
        </nav>
<form>
          <div class="row">
          <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
            <div class="col-sm-4" id="pic">
                <img src="" alt="꿀팁 사진">
            </div>

            <div class="col-sm-8" id="text">
                가수 김종국이 상체 운동 루틴을 공개했다.

지난 24일 김종국은 자신의 유튜브 채널 ‘짐(GYM)종국’에 ‘저..’등신’인가요..?’라는 제목의 영상을 올렸다.

공개된 영상에서 김종국은 “운동 분할을 5분할, 4분할, 3분할 2분할까지 다 해봤다”며 “'미우새(미운우리새끼)'에 나왔던 몸이 꾸준히 3분할을 하던 몸이었다. 그러다가 2분할로 바꿔보자 해서 3개월 이후 몸 변화가 왔다.
저도 방송을 보고 제 몸이 달라졌음을 느꼈다”고 말문을 열었다. 이어 “2분할 운동에도 수많은 코스가 있는데, 그 중 한 분할을 보여드리겠다”고 소개했다.

김종국은 운동 시작하기에 앞서 상체의 가장 대근육이라고 생각하는 ‘등’을 강하게 잡아 놓는다고 밝혔다. 그렇게 해야 나머지 부분을 운동할 때 안정감이 있다고 설명했다. 그는 “처음에 가동 범위를 제일 크고 길게 한다. 수축도 최대한으로 해야 해서 무게도 무겁지 않게 한다”며 “힘이 가장 남아있을 때 근육도 최대한으로 참여하고 혈액도 최대한 돌기에 부상도 적고 워밍업이 된다”고 말했다.

쉬는 시간은 1분 이내로 잡고 최소 15회 이상 운동한다고 했다. 김종국은 “유산소를 따로 안 하기 때문에 운동 시간을 짧게 해서 심장 운동이 같이 되게 하는 편”이라고 설명했다. 이어 “저는 허리디스크가 있어서 허리 부담을 최소화할 수 있는 운동부터 시작한다”고 밝혔다.

첫 운동은 최소 8~10 세트씩 진행한다고 했다. 김종국은 증량과 관련해 “처음엔 각각 5kg씩 총 10kg를 든다. 한 번에 올리기보단 조금씩 올린다”며 “첫 운동 때 모든 힘을 쏟아 부으려 한다. 횟수는 그날의 컨디션과 상태에 맞춰서 한다”고 덧붙였다.

김종국은 “보통 양손을 사용해 몸의 균형을 정확히 잡고 난 후 원 암(One Arm)을 해준다”며 “운동 루틴은 일주일 또는 2~3일 뒤 한두 가지씩 바꾼다”고 했다. 그는 “가능한 가동범위를 길게 할 수 있는 내에서 최대한 많이 한다”고 이야기했다.

이어 ‘버티기’가 가장 중요하다고 강조했다. 김종국은 “버티는 과정도 수축이다. 수축감이 풀어지지 않도록 유지하는 것이 근육 운동 포인트”라고 부각했다.

또 로우 운동을 설명하며 김종국은 “등 중앙부분에 집중하기 위해 로우 자체를 아래쪽으로 한다. 이렇게 하면 허리 안 좋으신 분들에게 도움이 된다”며 “기본적인 허리 모양이 헤쳐지는 행동은 절대 하면 안된다. 가능한 그 모양을 유지한 상태에서 골반쪽 힙 힌지(Hip hinge) 움직임만을 주시하는 것이 허리 건강에 가장 좋다”고 중점을 뒀다.



마지막으로 그는 “쉬는 시간 적게 해서 2분할을 하면 장점은 짧은 시간 내 많은 운동을 할 수 있다는 것”이라며 “2분할에서 등 운동 3가지씩은 하려고 한다. 상체(운동) 이틀 이어서 하는데 다 다르게 한다”고 설명했다.

이 영상은 공개된 지 약 하루 만에 270만뷰를 돌파했다. 김종국의 유튜브 채널 ‘짐(GYM)종국’은 구독자 124만 명을 보유하고 있다.

                
            </div>
          </div>
          
    </div>  
        
</form>

    <script>
        $(document).ready(function(){
            $('.header').load("/FRONT/views/include/header.html");
            $('.footer').load("/FRONT/views/include/footer.html");
            $('.section').load("/FRONT/views/board/user/mypage.html")
        })
        
    </script>
</body>
</html>