<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/FRONT/resource/css/bootstrap.css">
</head>
<body>

    <div class="container">
        <div id="menu">
            <div class="col-md-1"><button class="btn">삽니다</button></div>
            <div class="col-md-1"><button class="btn">팝니다</button></div>
            <div class="col-md-1"><button class="btn">나눠요</button></div>
        </div><br>
        <form action="">
            <div class="title">
                <input type="text" placeholder="제목을 입력하세요">
            </div>
            <div class="writer">
                <input type="text" value="작성자" readonly>
            </div>
            <div class="price">
                <input type="text" placeholder="가격을 입력하세요">
            </div>
            <div class="detail">
                <button>이미지 등록</button><br>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <input type="submit" value="등록하기">
            <input type="submit" value="취소">
        </form>
    </div>
    
</body>
</html>