<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/FRONT/resource/css/bootstrap.css">
    <link rel="stylesheet" href="/FRONT/resource/css/bootstrap-theme.css">
    <style>
        table {
            border-collapse: separate;
            border-spacing: 0 10px;
        }
    </style>
</head>

<body>
    <section>
        <div class="container">
            <div class="row">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-login">로그인</button>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div id="modal-login" class="modal fade">
        <div class="modal-dialog">

            <!-- Modal Content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">로그인</h4>
                </div>
                <div class="modal-body">
                    <form action="" method="post" id="form-join" class="form-horizontal">
                       
                        <div class="form-group">
                            <label for="input-email" class="col-sm-3 control-label">이메일</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="input-email" placeholder="이메일을 입력해주세요">
                            </div>
                           
                        </div>
                        
                        <div class="form-group">
                            <label for="input-password" class="col-sm-3 control-label">비밀번호</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="input-password" placeholder="비밀번호를 입력해주세요">
                            </div>
                            
                        </div>
                        

                        
                    </form>

                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">로그인</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">비밀번호 찾기</button>
                </div>


            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="/FRONT/resource/js/bootstrap.js"></script>
</body>

</html>