<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>diet_write</title>
    <link rel="stylesheet" href="/FRONT/resource/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/FRONT/resource/js/bootstrap.min.js"></script>
</head>

<style>


    .container {
        width: 1160px;
        height: 1500px;
    }

    .titlebox h2 {
        border-bottom: 1px solid rgb(0, 173, 181);
        margin-top: 90px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        font-size: 40px;
        font-weight: bold;
        color: rgb(0,173,181);
    }

    #write_table {
        border-collapse: collapse;
        width: 100%;
    }

    table {

    }
</style>



<body>

    <section>
        <div class="container">
            <div class="">
                <div class="header"></div>
            </div>
            <div class="row">
                <div class="content-wrap">
                    <div class="titlebox">
                        <h2>글 작성하기</h2>
                    </div>
                    <!-- 
                        첫번째,두번째,세번째 음식 이름 입력창과, 칼로리 창 따로 추가하기 
                        근데 칼로리를 미리 준비한 DB데이터로 산출할까?
                        아니면 직접 입력을 받을까?
                    -->
                    <form action="#" id="boardWrite" method="POST">
                        <table id="write_table">
                            <tbody>
                                <tr>
                                    <td>제목</td>
                                    <td><input type="text" id="title"></td>
                                </tr>
                                <tr>
                                    <td>작성자</td>
                                    <td><input type="text" id="writer"></td>
                                </tr>
                                <tr>
                                    <td>내용</td>
                                    <td><textarea name="" id="content" cols="30" rows="10" placeholder="글 내용을 입력하세요"></textarea></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>

                    <div class="titlefoot">
                        <button class="btn btn-info" id="registBtn">등록</button>
                        <button class="btn btn-info" id="listBtn">목록</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="footer"></div>
        </div>
    </section>



    <hr class="hr">
</body>

</html>
<script>
    $(document).ready(function () {
        $('.header').load("/FRONT/views/include/header.html");
        $('.footer').load("/FRONT/views/include/footer.html");
        $('.section').load("/FRONT/views/board/user/mypage.html")
    });
</script>