<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/FRONT/resource/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/FRONT/resource/js/bootstrap.min.js"></script>
    <style>
        
        
        .section{
            background-color: yellowgreen;
            height: 1500px;
            overflow: auto;
        }
        .sidebar{
            background-color: yellow;
            position: fixed;
            right: 15px ;
            top: 250px;
        }
       
       

    </style>
</head>

<body>
    
    <div class="container-fluid h-100">
        <div class="row">
            <div class="header"></div>
        </div>
        <div class="row">
            
            <div class="section">
                
            </div>
            
            
            
        </div>
        <div class="row">
            <div class="footer"></div>
        </div>
        <div class="sidebar"></div>
    </div>
    
    <script defer>
        $(document).ready(function(){
            $('.header').load("/FRONT/views/include/header.html");
            $('.footer').load("/FRONT/views/include/footer.html");
            $('.sidebar').load("/FRONT/views/include/side_bar.html");
        });
        
    </script>
</body>
</html>