<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header_Footer</title>
    <!--reset.css (css 초기화)-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <!-- <link rel="stylesheet" href="/FRONT/resource/css/reset.min.css"> --> <!--파일이없어져서 일단 링크로 대체했습니다.-->


    <style>

        /*aside*/


        aside .box p {
            margin: 10px 0;
        }

        aside .box a:link, a:visited, a:active {
            font-size: 15px;
            color: #5A5A5A;
            text-decoration: none;
        }

        aside .box a:hover {
            color: #656565; 
            font-weight: bold;
        }
        

        .sns {
            display: inline-block;
        }


    </style>

</head>
<body>

    <aside>
        <img src="/FRONT/resource/img/side/side.png" width="130px" alt="side">
        <div class="box">
            <p><a href="#">공지사항</a></p>
            <p><a href="#">날씨정보</a></p>
        </div>
        <img src="/FRONT/resource/img/side/side2.png" width="130px" alt="side2">

        <br><br>
        <div class="side_logo"><img src="/FRONT/resource/img/side/side_logo.png" width="90px" alt="side_logo"></div>

        <ul>
            <li class="sns"><a href="#"><img src="/FRONT/resource/img/side/instagram.png" width="30px" alt="instagram"></a></li>
            <li class="sns"><a href="#"><img src="/FRONT/resource/img/side/youtube.png" width="30px" alt="youtube"></a></li>
            <li class="sns"><a href="#"><img src="/FRONT/resource/img/side/twitter.png" width="30px" alt="twitter"></a></li>
            <li class="sns"><a href="#"><img src="/FRONT/resource/img/side/facebook.png" width="30px" alt="facebook"></a></li>
        </ul>
    </aside>
    
    
</body>
</html>