<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.spring.wefit.dietboard.mapper.IDietBoardMapper">
		  
		  <insert id="regist">
		  	INSERT INTO DietBoard
		  	(
		  	dbNum, mNum, dbTitle, dbContent,
		  	dbImage1, dbImage2, dbImage3, dbImage4, dbImage5,
		  	dbRealImage1, dbRealImage2, dbRealImage3, dbRealImage4, dbRealImage5,
		  	dbLookCount, dbImageCount
		  	)
		  	VALUES
		  	(
		  	dietBoard_seq.NEXTVAL, 
		  	#{mNum}, #{dbTitle}, #{dbContent},
		  	#{dbImage1}, #{dbImage2}, #{dbImage3}, #{dbImage4}, #{dbImage5},
		  	#{dbRealImage1}, #{dbRealImage2}, #{dbRealImage3}, #{dbRealImage4}, #{dbRealImage5},
		  	#{dbLookCount}, #{dbImageCount}
		  	)
		  </insert>
		  
		  
		  <select id="getList" resultType="com.spring.wefit.command.DietBoardVO">
		  	SELECT * FROM DietBoard
		  	ORDER BY dbNum DESC 	
		  </select>
		  
		  
		  <select id="getContent" resultType="com.spring.wefit.command.DietBoardVO">
		  	SELECT * FROM DietBoard
		  	WHERE dbNum= #{dbNum}
		  </select>
		  
		  
		  <update id="update">
			UPDATE DietBoard
			SET 
			dbTitle = #{dbTitle},
			dbContent = #{dbContent},
			dbImage1 = #{dbImage1}, dbImage2 = #{dbImage2}, 
			dbImage3 = #{dbImage3}, dbImage4= #{dbImage4}, 
			dbImage5 = #{dbImage5},
		  	dbRealImage1 = #{dbRealImage1}, dbRealImage2 = #{dbRealImage2}, 
		  	dbRealImage3 = #{dbRealImage3}, dbRealImage4 = #{dbRealImage4}, 
		  	dbRealImage5 = #{dbRealImage5}
		  </update>
		  
		  
		  <delete id="delete">
		  	DELETE FROM DietBoard
			WHERE dbNum=#{dbNum}
		  </delete>
		  
		  
		  <select id="getTotal" resultType="int">
		  	SELECT COUNT(*)
			FROM DietBoard
		  </select>
		  
		  
		  
		  
	</mapper>
