<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/FRONT/resource/css/bootstrap.css">
    <link rel="stylesheet" href="/FRONT/resource/css/bootstrap-theme.css">
    <style>

        h3{
            text-align: center;
        }
        .empty-space{
            height:100px;
        }

        .passwordForm{
            margin-top: 100px;
        }
    
    </style>
</head>
<body>
    <div class="container passwordForm">
        <div class="row">
            <h3>비밀번호 변경</h3>
        </div>
        <div class="empty-space"></div>
        <form class="form-horizontal">
            
            <div class="form-group">
              <label for="input-password" class="col-sm-2 control-label">비밀번호</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="input-password" placeholder="비밀번호">
              </div>
            </div>
            <div class="form-group">
              <label for="input-password-check" class="col-sm-2 control-label">비밀번호확인</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="input-password-check" placeholder="비밀번호확인">
              </div>
            </div>
            <div class="empty-space"></div>
            <div class="row">
                <div class="col-sm-offset-6 col-sm-2">
                    <button type="submit" class="btn btn-primary">변경하기</button>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-defalut">취소하기</button>
                </div>
                

            </div>
          </form>
          
    </div>
    
    <script src="/FRONT/resource/js/jquery.min.js"></script>

    <script src="/FRONT/resource/js/bootstrap.js"></script>
</body>
</html>